 body{
  background-color:  #FFE4F1;

 }
  .startWrapper {
    
   text-align: center;
    padding: 6rem 3rem;
    
    margin: 0;
    
    background-color: /* #FDEAF5*/ #FFE4F1 /*#FCD0F0*/ /*#FDEAF5*/ /*#FBCDF1*/;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
       
  }
   h1 {
    margin:  3rem 0;
    margin-bottom: 1rem;
    padding: 0;
    color: #fff;
    text-align: center;
   
  
    text-shadow: 
      0 0 5px #fff, 
      0 0 10px #f5a1e8, 
      0 0 20px #f5a1e8, 
      0 0 40px #c75fff, 
      0 0 80px #c75fff;
   }

  .startText{
    
    font-weight: 400;
    color: #000000;
    margin: 0;
    padding: 0;
    
    text-align: center;
  }

  .italics {
    font-style: italic;
  }

  .geo {
    font-weight: 900;
    color: #8a2be2;
  }
  

  
  .shapeWrap {
    float: right;
  
    margin:  2rem;
    shape-outside: circle();
    clip-path: circle();
    -webkit-shape-outside: circle();
    -webkit-clip-path: circle();
    border-radius: 50%;
    overflow: hidden;
  }
  
  .animationInner {
    width: 100%;
    height: 100%;
  }
 

  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
      margin: 0;
      margin-bottom: 1rem;
    }

    .startText{
      font-size: 1rem;
      
    }
  }
  
  
  @media (min-width: 481px) and (max-width: 768px) {
    h1 {
      font-size: 2rem;
    
    }

    .startText{
      font-size: 1.5rem;
      
    }
  }
  
  
  @media (min-width: 769px)  {
    .startText{
      font-size: 2rem;
      
    }
    h1 {
      font-size: 3.5rem;
    }
  }
  
  
  