.container {
    max-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem; 
    
    box-sizing: border-box;
    text-align: center;
      
  overflow-y: auto;
  }
  
  .main {
    width: 100%;
    
    text-align: center;
    padding: 2rem;
  }
  
   .aboutUs {
    font-size: 2.5rem;
    color: #581381;
    text-shadow: none;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .aboutText{
    font-size: 1.5rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  .joinIcons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-direction: column;
  }
.joinIconsText{
  display: flex;
  font-size: 1.2rem;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    flex-direction: column;
}
  .iconsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
 
  @media (max-width: 480px) {
  .container {
    padding: 3rem;
  }

  .aboutUs {
    font-size: 2rem;
    margin: 0;
    margin-top: 1.2rem;

  }

  .aboutText {
    font-size: 1.1rem;
  }

  .joinIcons {
    flex-direction: column;
    margin: 0;
  }

  .joinIconsText {
    font-size: 1rem;
    gap: 1rem;
  }

  .iconsContainer {
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1.2rem;
    size: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    padding: 0 3rem;
  }

  .aboutUs {
    font-size: 2.2rem;
  }

  .aboutText {
    font-size: 1.3rem;
  }

  .joinIcons {
    flex-direction: column;
    gap: 1.5rem;
  }

  .joinIconsText {
    font-size: 1.1rem;
    gap: 1.5rem;
  }

  .iconsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}

@media (min-width: 769px) {
  .container {
    padding: 6rem;
  }

  .aboutUs {
    font-size: 2.5rem;
  }

  .aboutText {
    font-size: 1.5rem;
  }

  .joinIcons {
    flex-direction: column;
    gap: 2rem;
  }

  .joinIconsText {
    font-size: 1.2rem;
    flex-direction: row;
    gap: 2rem;
  }

  .iconsContainer {
    flex-direction: row;
    gap: 2rem;
  }
}

  