
*,
*::before,
*::after {
  box-sizing: border-box;
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  margin: 0;
  background-color: transparent;
  height: auto;
  max-height: 100vh;
  text-align: center;
  overflow-y: auto;
}

.welcome {
  padding: 3rem 1rem;
  color: #fff;
  text-align: center;
  text-shadow: 
    0 0 5px #fff, 
    0 0 10px #f5a1e8, 
    0 0 20px #f5a1e8, 
    0 0 40px #c75fff, 
    0 0 80px #c75fff;
}

.spanLog{
  color:#c75fff
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 0;
 background-color: transparent; 
}

.inputWrapper,
.passwordWrapper,
.forgot,
.buttonlogin {
  margin-bottom: 0; 
}

.inputWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
 
}

.inputWrapper .inputMail{
  background-color: #fff;
}
.inputPass,
.inputMail {
  padding: 8px 40px 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 1rem;
  height: 40px;
  box-sizing: border-box;
  background-color: #fff;
}

.input::placeholder {
  color: #aaa;
  padding-left: 2px;
}

.eyeIconWrapper {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #777;
}

.eyeIconWrapper:hover {
  color: #007BFF;
}

.passwordWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.forgot {
  font-size: 0.8rem;
  color: #8A2BE2;
  text-align: left;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.register {
  text-align: center;
  color: #71727A;
  font-size: 0.9rem;
}

.reglink {
  color: #8A2BE2;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.8rem;
}

.buttonlogin {
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  width: 100%; 
  max-width: 100%; 
  box-sizing: border-box;
  padding: 1rem; 
  background-color: #581381; 
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.buttonlogin:hover {
  background-color: #d156dc; 
}





@media (max-width: 480px) {
  .loginPage {
    padding: 1rem;
  }

  .form {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .welcome {
    font-size: 1.5rem;
    padding: 2rem 1rem;
  }

  .inputPass,
  .inputMail {
    padding: 8px 16px 8px 12px;
    font-size: 0.9rem;
    height: 35px;
  }

  .buttonlogin {
    padding: 1rem;
    font-size: 1rem;
  }



  .forgot,
  .reglink {
    font-size: 0.7rem;
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  .loginPage {
    padding: 2rem;
  }

  .form {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .inputPass,
  .inputMail {
    padding: 8px 20px 8px 12px;
    font-size: 1rem;
    height: 40px;
  }

  .buttonlogin {
    padding: 1.2rem;
    font-size: 1rem;
  }

  .welcome {
    font-size: 2rem;
    padding: 2rem 1rem;
  }
}


@media (min-width: 769px) {
  .loginPage {
    padding: 3rem;
  }

  .form {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .inputPass,
  .inputMail {
    padding: 8px 40px 8px 12px;
    font-size: 1rem;
    height: 45px;
  }

  

 

  .forgot,
  .reglink {
    font-size: 1rem;
  }
}
