.form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-family: 'Inter', sans-serif;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    
  }
  
  .label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1rem;
    color: #581381;
  }
  
  .input {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    padding: 0.8rem 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    margin-top: 0.4rem;
  }
  
  .button {
    background-color: #581381;
    color: #fff;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    align-self: center;
    width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  border: none; 
text-align: center;
  transition: background-color 0.3s ease; 
  margin-left: 0.5rem;
  margin-top: 1.2rem;
  }
  
  .button:hover {
    background-color: #d156dc;
  }

  



  
  .error {
    color: rgb(20, 18, 18);
    font-size: 0.8rem;
    margin-top: 0.4rem;
  }
  
  
  .modalContent {
    text-align: center;
  }
  
  .modalButtons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .modalButtonYes {
    background-color: #ccc1f7;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .modalButtonNo {
    background-color: #25356f;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .profileImageWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .profileImage {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .imageInput {
    font-size: 0.9rem;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    background-color: #ede8f7;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .passwordWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .passwordToggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  

  @media (max-width: 480px) {
      .button {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 30px;
  }
    .form {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  
  .form {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  
}


@media (min-width: 769px) {
  
}




