.container {
    position: relative;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 2rem; 
    cursor: pointer;
    z-index: 1001; 
  }
  
  .line {
    height: 15%;
    width: 100%;
    background-color: #fadbfa;
    transition: all 0.3s ease;
  }
  
  .open1 {
    transform: rotate(45deg);
    position: relative;
    top: 5px;
  }
  
  .open2 {
    opacity: 0;
  }
  
  .open3 {
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
  }
  
  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(247, 192, 234, 0.95);
    color: #fff;
   font-weight: bold;
    padding-top: 50px;
    text-align: center;
  }
  .closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    z-index: 1002; 
  }
  
  .closeIcon:hover {
    color: #f0a; 
  }
  
  
  .show {
    display: block;
  }
  
  .menu a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .menu a:hover {
    background-color: #f4d9ea;
  }
  
 
  .confirmationModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(125, 10, 119, 0.2);
  }
  
  .modalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

   .menu .logoutBtn {
    font-size: 1rem;  
    font-weight: bold;  
    color: #3a335c;  
    text-decoration: none;  
    padding: 10px 20px;  
    border-radius: 60%;  
    background-color: #fadbfa;  
    transition: background-color 0.3s ease;  
    margin-right: 1rem;

    
  }

  .menu .logoutBtn:hover {
    background-color: #a42174;  
  }