.join {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	justify-content: center;
	margin: 0;
	padding: 0;
	text-align: center;
}

section {
	max-width: 60%; 
	margin-left: 0;
	padding: 0;
}

 .spanJoin {
	color: #bc3a80;
	text-shadow: 1px 1px 1px #bc3a80;
}

section h1 {
	font-size: 3.5rem;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 2px white;
}





@media (max-width: 480px) {
 
}


@media (min-width: 481px) and (max-width: 768px) {
  
}


@media (min-width: 769px)  {
 
}