.join {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	justify-content: center;
	margin: 0;
	padding: 0;
	
	text-align: center;
 flex-direction: column;    
 

}



.joinTitle{
	
	font-size: 2rem;
	color: #8f2193;
	text-align: center;

	 text-shadow: 
      0 0 5px #fff, 
      0 0 10px #f5a1e8, 
      0 0 20px #f5a1e8, 
      0 0 40px #c75fff, 
      0 0 80px #c75fff;
	
}

.regForm{
	  justify-content: center;
  align-items: stretch;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}




@media (max-width: 480px) {
  
}


@media (min-width: 481px) and (max-width: 768px) {
  
  .form {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  
}


@media (min-width: 769px) {
  
}




