.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 1000;
    background-color:#581381 ;
    
  }
  .menu{
    margin-right: 1rem;
  }

  .logo {
    height: 4.5rem;
    object-fit: contain;
    cursor: pointer;
  }
  
  .link {
    font-size: 1.8rem;  
    font-weight: bold;  
    color: #3c2e80;  
    text-decoration: none;  
    padding: 10px 20px;  
    border-radius: 60%;  
    background-color: #fadbfa;  
    transition: background-color 0.3s ease;  
  }
  
  .link:hover {
    background-color: #c796d0;  
    color: #ffffff;  
  }
  @media (max-width: 480px) {
    .header{
      height: 8%;
    }
    .link {
      font-size: 1rem;  }

    .logo {
      height: 4rem;
  
    }
  }
  
  
  @media (min-width: 481px) and (max-width: 768px) {
    .logo {margin-left: 1rem;}
  }
  
  
  @media (min-width: 769px)  {
    .logo {margin-left: 1rem;}
  }