.card {
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  background-color: #f9f9f9;
  transition: 0.3s;
}

.card:hover {
  background-color: #eee;
}

.selected {
  border-color: #581381;
  background-color: #e2d6f5;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
